* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Single Day', cursive;

}

.container {
    width: 80%;
    margin: auto;

}

header {
    height: 60px;
    background-color: cadetblue;
    padding: 5px 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content .brand {
    font-size: 32px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;

}

.header-content .brand:hover {
    opacity: 0.8;
}

nav ul {
    margin-top: 5px;
    display: flex;
    list-style: none;
}

nav li a {
    text-decoration: none;
    display: block;
    color: white;
    min-width: 80px;
    padding: 7px;
    margin: 0 7px;
}

nav li a:hover {
    opacity: 0.5;
}

/*********************************  form   ********************************/

.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 15px;

}

.section-form h2 {
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
}

.section-form form input {
    font-family: 'Single Day', cursive;
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;

    outline: none;
}

.section-form form input[type="submit"] {
    margin-top: 15px;
}

.section-form form input[type="submit"]:hover {
    opacity: 0.5;
}

/*اذا لزقت اليو ال بالهاش معناتا هات اليو ال يلي ايديتو يوزر
اما لما بخلي مسافة اليو ال العنصر يلي حواتا اخد اي دي اسمو يوزر*/
nav ul #user_info {
    display: none;
}

.section-form form .linkBtn {
    color: blue;
}

.section-form form .linkBtn:hover {
    color: rgb(139, 6, 95);
}

/*******************************************************************/
.products {
    width: 60%;
    margin: 20px 0;
}

.product_item {
    display: flex;
    overflow: hidden;

    /* justify-content: space-between; */
    width: 100%;
    /* background-color: cadetblue; */
    border: 1px solid #ddd;
    min-height: 150px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}

.product_item_img {
    width: 25%;
    margin-right: 10px;

}

/* product_item_action    child of   product_item */
/*flex:1    بيعطي grow */
.product_item_action {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    padding:5px;
}

.product_item .add_to_cart {
    display: block;
    margin-left: auto;
    background-color: cadetblue;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
.product_item .add_to_cart:hover{
    opacity: 0.8;
}

.product_item .fav {
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;

}
.product_item .fav:checked{
    color: red !important;
}

/**********************************************************************************/

nav ul#user_info li i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;

}

nav ul#user_info li {
    margin: 0px 10px;
    position: relative;
}

nav ul#user_info li .badge {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    font-size: 13px;
    display: none;
}

/**********************************************************************************/
.carts_products {

    position: absolute;
    width: 210px;
    transform: translate(-20, 0);
    top: 60px;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    border: 1px solid cadetblue;
    display: none;
}

.carts_products a {
    display: block;
    color: black;
    background-color: cadetblue;
    margin: 4px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}